@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-charcol: #333031;
    --color-paper: #eae0d5;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-cormorant: var(--font-cormorant);
    --font-raleway: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
